// .section{

.section-btn {
  @extend %button;

  background-color: #34f762;

  &:hover {
    color: red;
    background-color: #34d7f7;
  }
}


// .section {
//     @include bordered(tomato);
//     padding: 20px;
//    }