
/* .button,
.header-btn,
.section-btn,
.simple-btn{
  display: inline-flex;
  border-radius: 3px;
  font-size: 16px;
  font-style: italic;
  padding: 10px 20px;
  color: white;
  background-color: #34d7f7;
} */

.header-btn{
  background-color: #f734d0;
}

.section-btn{
  background-color: #34f762;

}

.simple-btn{
  color: rgb(15, 15, 14);
background-color: #f73434;
}
